@import "common/colors"

.h1-Purus-jumb-1
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	margin-left: 0
	color: $h1-Purus-jumb-1

.p-jumbortron
	font-family: "HelveticaLight",  sans-serif
	color: $p-jumbortron
	margin-left: 0
	padding: 50px 0 50px 0px

.h4-Nulla
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h4-Nulla
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 17px
	color: $p-font-color
.h4-What
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h4-What
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 17px
	color: $p-font-color
.h4-Our
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h4-Our
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 17px
	color: $p-font-color

.h6-Ipad-1
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-2
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-3
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-4
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px	
.p-h6-Ipad-1
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-2
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-3
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-4
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.card
	border-radius: 2px
	border: 2px solid #dedede
number
	color: $number
.h5-img-circle
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
	text-align: center
	
.p-img
	font-family: "HelveticaLight", Helvetica, sans-serif
	width: 210px
	font-size: 14px
	text-align: center
	color: $p-font-color
.h4-Recent
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
.h4-A-little
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
.h6-aenean
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	padding-left: 75px
	position: relative
	bottom: 60px
.h6-Commodo
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	padding-left: 75px
	position: relative
	bottom: 94px
.p-23jan-photograph
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 12px
	color: $recent-lv
	padding-left: 75px
	position: relative
	bottom: 60px
.p-21jun-photograph
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 12px
	color: $recent-lv
	padding-left: 75px
	position: relative
	bottom: 94px
.Resent_continue
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 12px
	color: $recent-lv
	padding-left: 75px
	position: relative
	bottom: 60px
.Resent_continue1
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 12px
	color: $recent-lv
	padding-left: 75px
	position: relative
	bottom: 94px
.p-23jan
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 14px
	color: $p-font-color
	padding-left: 75px
	position: relative
	bottom: 60px
.p-21jun
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 14px
	color: $p-font-color
	padding-left: 75px
	position: relative
	bottom: 94px
.p-h4-little
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 14px
	color: $p-font-color
	width: 550px
.shape
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 14px
	color: $p-font-color
	padding-top: 10px
.komu1
	font-family: "HelveticaLight", HelveticaNeue, sans-serif
	font-size: 18px
	font-style: normal
	color: $p-font-color
.by-kom
	font-family: "HelveticaLight", HelveticaNeue, sans-serif
	font-size: 14px
	color: $recent-lv
	text-align: center
	margin-top: 0
	margin-bottom:: 0rem

.daylite
	float: left
	color: $p-font-color-daylite
.p-h4-little1
	color: white
.Get
	font-family: "HelveticaBold",HelveticaNeue, sans-serif
	font-weight: bold
	color: $h6-font-color-daylite
.get-p
	font-family: "HelveticaRegular",HelveticaNeue, sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
.twitter-jumb
	font-family: "HelveticaBold", HelveticaNeue,sans-serif
	font-weight: bold
	color: $h6-font-color-daylite
.twitter-p
	font-family: "HelveticaRegular",HelveticaNeue, sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
.popular-posts
	font-family: "HelveticaBold",HelveticaNeue, sans-serif
	font-weight: bold
	color: $h6-font-color-daylite
.popular-p
	font-family: "HelveticaRegular",HelveticaNeue, sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
.Contact
	font-family: "HelveticaBold", HelveticaNeue,sans-serif
	font-weight: bold
	color: $h6-font-color-daylite
.contact-p
	font-family: "HelveticaRegular", HelveticaNeue,sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px

.gps-phone-sms
	font-family: "HelveticaRegular", HelveticaNeue,sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
.p-date
	font-family: "HelveticaRegular", HelveticaNeue,sans-serif
	font-weight: normal
	color: $p-font-color
	font-size: 12px
	position: relative
	bottom: 15px
.popular-p1
	font-family: "HelveticaRegular",HelveticaNeue, sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
	margin-top: -14px
    margin-bottom: 1rem
.popular-p2
	font-family: "HelveticaRegular",HelveticaNeue, sans-serif
	font-weight: normal
	color: $p-font-color-daylite
	font-size: 14px
	margin-top: -18px
    margin-bottom: 1rem
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 
    position: relative
    min-height: 1px
    padding-right: 0
    padding-left: 15px