@import "common/colors"

.h1-Purus-jumb-1
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	margin-left: 0
	color: $h1-Purus-jumb-1

.p-jumbortron
	font-family: "HelveticaLight",  sans-serif
	color: $p-jumbortron
	margin-left: 0
	padding: 50px 0 50px 0px

.h5-Nulla
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h5-Nulla
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 15px
	color: $p-font-color
.h5-What
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h5-What
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 15px
	color: $p-font-color
.h5-Our
	font-family: "HelveticaBold", sans-serif
	font-weight: bold
	color: $zagolovok
.p-h5-Our
	font-family: "HelveticaLight",  sans-serif
	font-weight: normal
	font-size: 15px
	color: $p-font-color

.h6-Ipad-1
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-2
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-3
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px
.h6-Ipad-4
	font-family: "HelveticaBold", sans-serif
	color: $zagolovok
	font-weight: bold
	text-align: center
	padding-top: 20px
	font-size: 14px	
.p-h6-Ipad-1
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-2
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-3
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.p-h6-Ipad-4
	font-family: "HelveticaLight", Helvetica, sans-serif
	color: $p
	text-align: center
	font-size: 13px
.card
	border-radius: 2px
	border: 2px solid #dedede